@import 'https://fonts.googleapis.com/css?family=Lato:300,400';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    height: 100%;
    position: relative;
}

h3 {
    color: white;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav-btn {
    width: 100%;
    height: 35px;
    padding-top: 4px;
    color: #D5D3D3;
    background-color: #212121;
    ;
    text-align: center;
    cursor: pointer;
    display: none;
}

.nav-btn:active {
    background-color: #090909;
}

header {
    height: 50px;
    width: 100%;
    background-color: #274C6B;
    display: none;
}

header .logo {
    opacity: 0.9;
    font-size: 120%;
    padding-top: 9px;
    padding-left: 8px;
    color: #fff;
}

header .logo span {
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.sidebar {
    width: 250px;
    background-color: #302F2F;
    position: relative;
    top: 0px;
    left: 0;
    bottom: 0;
}

.sidebar nav>a {
    font-size: 150%;
    display: inline-block;
    padding: 30px 0px;
    padding-left: 30px;
    opacity: 0.7;
    transition: all 0.2s;
}

.sidebar nav>a:hover {
    opacity: 1;
}

.sidebar nav a span {
    font-weight: 300;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    font-size: 70%;
    padding: 19px 0;
    padding-left: 20px;
    border-bottom: 0.5px solid #111;
}

.sidebar nav ul li:hover {
    background-color: #2980b9;
    text-decoration: underline;
    color: black;
}

.sidebar nav ul li a {
    color: #D7D5D5;
}

.sidebar nav ul li:hover a {
    color: #fff;
}

.sidebar {
    width: 250px;
    background-color: #302F2F;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
}

.user_sidebar {
    width: 250px;
    background-color: rgb(1, 81, 140);
    position: relative;
    top: 0%;
    left: 100px;
    bottom: 0;
}

.user_sidebar nav>a {
    font-size: 150%;
    display: inline-block;
    padding: 30px 0px;
    padding-left: 30px;
    opacity: 0.7;
    transition: all 0.2s;
}

.user_sidebar nav>a:hover {
    opacity: 1;
}

.user_sidebar nav a span {
    font-weight: 300;
}

.user_sidebar nav ul {
    list-style: none;
}

.user_sidebar nav ul li {
    font-size: 70%;
    padding: 19px 0;
    padding-left: 20px;
    border-bottom: 0.5px solid #111;
}

.user_sidebar nav ul li:hover {
    background-color: #2980b9;
    color: black;
}

.user_sidebar nav ul li a {
    color: white;
}

.user_sidebar nav ul li:hover a {
    color: black;
}

.main-content {
    background-color: white;
    width: calc(100% - 213px);
    height: 101%;
    margin-left: 339px;
    padding: 0px 52px;
}

.main-content .panel-wrapper {
    margin: 20px 0;
    box-shadow: 0px 1px 5px #777;
}

.main-content .panel-wrapper .panel-head {
    background-color: #00A5F2;
    color: #fff;
    padding: 10px 10px;
    border: 1px solid #00A5F2;
}

.main-content .panel-wrapper .panel-body {
    padding: 20px 10px;
    font-size: 80%;
}

#myInput {
    background-image: url('./img/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-color: white;
    color: black;
    width: 250px;
    font-size: 16px;
    padding: 12px 20px 12px 33px;
    border: 1px solid #302F2F;
    margin-bottom: 12px;
}