body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: white;  
  }  
  .container {  
      padding: 50px;  
      background-image: url('assets/images/cardboard.png');
  }  
    
  

  input[type=text], input[type=password], textarea {  
    width: 100%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: 2px solid black;
    border-radius: 10px; 
    background: white;  
  }  
  input[type=text]:focus,input[type=number]:focus, input[type=password]:focus {  
    background-color: rgb(231, 231, 231);  
    color: black;
    outline: none;  
  } 
  
  input[type=number]{  
    width: 10%;
    padding: 5px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    background: white
  } 


   div {  
              padding: 10px 0;  
           }  
  hr {  
    border: 3px solid black; 
    border-radius: 5px; 
    margin-bottom: 25px;  
  }  
  .registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    opacity: 1;  
  }  

  .custom-search {
    position: relative;
    width: 300px;
  }
  .custom-search-input {
    width: 30%;
    padding: 5px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
  }
  .eye{
    margin-left: -38px;
    top: 6px;
    bottom: 3px;
    border: 0;
    background: #ffffff;
    color: #000;
    outline: none;
    padding: 3px 8px;
    border-radius: 45px;
    z-index: 2;
  }

  body.modal-open {
    position: absolute !important;
}

table, th, td {
  border: 1px solid black;
  padding: 0px 25px;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}