body {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 839px;
    opacity: 1;
}

.layout-navbar {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 68px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    opacity: 1;
}

.nav-icon {
    top: 21px;
    left: 593px;
    width: 26px;
    height: 26px;
    background: transparent url('../img/nav-icon.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}