body{
    font-family: 'Open Sans', sans-serif;
}
#signUpForm {
    max-width: 930px;
}
#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
}
#signUpForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #5a67d8;
}
#signUpForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #c3dafe;
    border-radius: 50%;
    border: 3px solid #ebf4ff;
}
#signUpForm .form-header .stepIndicator.active::before {
    background-color: #a3bffa;
    border: 3px solid #c3dafe;
}
#signUpForm .form-header .stepIndicator.finish::before {
    background-color: #5a67d8;
    border: 3px solid #c3dafe;
}
#signUpForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}
#signUpForm .form-header .stepIndicator.active::after {
    background-color: #a3bffa;
}
#signUpForm .form-header .stepIndicator.finish::after {
    background-color: #5a67d8;
}
#signUpForm .form-header .stepIndicator:last-child:after {
    display: none;
}
#signUpForm input.invalid {
    border: 2px solid #ffaba5;
}
#signUpForm .step {
  display: none;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
    margin-bottom: 10px;
 }

 .loginbtn {
    background: linear-gradient(to left, #0073e6 50%, #005CB8 50%) right;
    background-size: 200%;
}

.postbtn {
    background: linear-gradient(to left, #1C4980 50%, #163A66 50%) right;
    background-size: 200%;
}

.iconChange:hover img {
    transform: translateX(-180%);
}

select {
    width: 100%;
    font: bold 100px/1 "Helvetica Neue", sans-serif;
    appearance: none;
    padding: 20px 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
.salescases{
    width:305px !important;
    border-style: solid;
    border-radius: 0.575rem;
    border-color: rgba(237,242,247,var(--border-opacity));
    padding-right: 1.5rem !important;
    padding-left: 1.5rem!important;
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
    --text-opacity: 1;
    color: rgba(74,85,104,var(--text-opacity));
    font: bold 100px/1 "Helvetica Neue", sans-serif;
}
.csv {
    width:305px !important;
    border-style: solid;
    border-radius: 0.575rem;
    border-color: rgba(237,242,247,var(--border-opacity));
    padding-right: 1.5rem !important;
    padding-left: 1.5rem!important;
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
    --text-opacity: 1;
    color: rgba(74,85,104,var(--text-opacity));
    font: bold 100px/1 "Helvetica Neue", sans-serif;
}
.crv{
    width:305px !important;
    border-style: solid;
    border-radius: 0.575rem;
    border-color: rgba(237,242,247,var(--border-opacity));
    padding-right: 1.5rem !important;
    padding-left: 1.5rem!important;
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
    --text-opacity: 1;
    color: rgba(74,85,104,var(--text-opacity));
    font: bold 100px/1 "Helvetica Neue", sans-serif;
}
.mpo{
    width:305px !important;
    border-style: solid;
    border-radius: 0.575rem;
    border-color: rgba(237,242,247,var(--border-opacity));
    padding-right: 1.5rem !important;
    padding-left: 1.5rem!important;
    padding-top: 0.25rem!important;
    padding-bottom: 0.25rem!important;
    --text-opacity: 1;
    color: rgba(74,85,104,var(--text-opacity));
    font: bold 100px/1 "Helvetica Neue", sans-serif;
}
#employee{
    width:305px !important;
    border-style: solid;
    border-radius: 0.575rem;
    border-color: rgba(237,242,247,var(--border-opacity));
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    margin-left : 48px;
    --text-opacity: 1;
    color: rgba(74,85,104,var(--text-opacity));
    font: bold 100px/1 "Helvetica Neue", sans-serif;
}
#StockCat{
    width:250px !important;
    border-style: solid;
    border-radius: 0.575rem;
    border-color: rgba(237,242,247,var(--border-opacity));
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    margin-left : 48px;
    --text-opacity: 1;
    color: rgba(74,85,104,var(--text-opacity));
    font: bold 100px/1 "Helvetica Neue", sans-serif;
}
#brand{
    width:250px !important;
    border-style: solid;
    border-radius: 0.575rem;
    border-color: rgba(237,242,247,var(--border-opacity));
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    margin-left : 48px;
    --text-opacity: 1;
    color: rgba(74,85,104,var(--text-opacity));
    font: bold 100px/1 "Helvetica Neue", sans-serif;
}

#example td a {
    color: blue; /* Change to your desired color */
    text-decoration: underline;
}

.loader{
    width: 100px;
    left: 50%;
    margin-left: -32px;
    margin-bottom: 32px;
    position: relative;
    display : 'none';
}

