<style>
	.input{
		border: 1px solid #424242;
		border-radius: 7px;
		width: 100%;
		height: 40px;
		padding: 5px;
	}

	.dataTables_filter label{
		width: 100% !important;
	}

	.dataTables_filter input{
	    border: 1px #ccc solid;
		border-radius: 5px;
	}

	th{
		text-align: center;
	}

	select{
		height: auto;
	}

	.fit{
		width: 1%;
	}

	.no-wrap{
		white-space: nowrap;
	}

	.action{
		font-size: 10px;
	}

	.center{
		text-align: center;
	}
	
	.abcdefgh{
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
	}

	.tooltip {
	    position: relative;
	    display: inline-block;
	    border-bottom: 1px dotted black;
	    visibility: visible !important;
	    opacity: 1 !important;
	}
	
	.dataTables_length label{
		display:flex;
	}

	.tooltip .tooltiptext {
	    visibility: hidden;
	    width: 400px;
	    background-color: black;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
	    padding: 10px;
	    white-space: pre-wrap;
	    
	    /* Position the tooltip */
	    position: absolute;
	    z-index: 1;
	    top: -5px;
	    left: 105%;
	}

	.tooltip-left{
		visibility: hidden;
	    width: 400px;
	    background-color: black;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
	    padding: 10px;
	    white-space: pre-wrap;
	    
	    /* Position the tooltip */
	    position: absolute;
	    z-index: 1;
	    top: -5px;
	    right: 105%;
	}

	.tooltip:hover .tooltiptext {
	    visibility: visible;
	    background: #424242;
	}

	.tooltip:hover .tooltip-left {
	    visibility: visible;
	    background: #424242;
	}

	.tooltip a{
		color: white;
	}

	.asdasa input{
		border: 1px solid #424242;
		border-radius: 7px; 
		text-align: center;
		padding: 4px;
	}
	
	.wlcont{
		display: inline-block;
	}
	
	.custom_filters{
		display: none;
		align-items: center;
	}
	
	div.dataTables_length select{
		width: auto;
	}

</style>